<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lqr.biliblili">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SplashActivity">
        </activity>
        <activity
            android:name=".mvp.ui.activity.SettingActivity">
        </activity>
        <activity
            android:name=".mvp.ui.activity.ThemeActivity">
        </activity>
        <activity
            android:name=".mvp.ui.activity.WebActivity">
        </activity>
        <activity
            android:name=".mvp.ui.activity.CustomerViewActivity">
        </activity>
        <activity
            android:name=".mvp.ui.activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <!-- arms配置 -->
        <meta-data
            android:name="com.lqr.biliblili.app.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>

</manifest>